# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Windows Explorer thumbnail cache files
*.stackdump

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Flutter Windows build artifacts
/windows/flutter/ephemeral/
build/windows/
windows/runner/Debug/
windows/runner/Release/
windows/runner/Profile/

# Visual Studio specific
.vs/
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.idb
*.ipch
*.obj
*.o
*.exe
*.ilk
*.log
*.sdf
*.sqlite
*.user
*.opendb
*.tlog
*.lastbuildstate
*.vcxproj.*
*.ncb
*.suo
*.sln.docstates
